* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    /* overflow: hidden; */
    /* height: 100vh; */
}

body {
    height: 100%;
    overflow: hidden;
}

#maindiv {
    width: 100%;
    height: 100vh;
    background-image: url(img2.png);
    background-size: cover;
    overflow: hidden;
}

#textdiv {
    width: 300px;
    height: 300px;
    position: relative;
    top: 105px;
    left: 1020px;
    color: white;
    text-align: right;
}

#textdiv h1 {
    font-size: 75px;
    font-weight: 700;
}

#textdive p {
    font-size: 20px;
    line-height: 1.35;
    word-spacing: 5px;
}

.navbar {

    width: 100%;
    height: 110px;
    padding: 20px 2px 15px 20px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo #title{

    color : white;
    font-family: "Monteserrat", sans-serif;
    font-size : 40px;
    font-weight: 700;
    text-align: left;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    border: 2px solid whitesmoke;
    margin-right: 25px;
    font-size: 18px;
    color: whitesmoke; 
    padding: 10px;   
}

.pill
{
    font-size: 18px;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.pill a {
    color: black;
}

.largecircle {
    height: 620px;
    width: 620px;
    border-radius: 50%;
    background-image: url(huts.jpg);
    background-size: cover;
    position: relative;
    bottom: 250px;
    right: 120px;
    z-index: 2;
}

#whitecircle1 {
    height: 650px;
    width: 650px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 150px;
    right: 1015px;
    z-index: 1;
}


.smallcircle {
    height: 340px;
    width: 340px;
    border-radius: 50%;
    background-image: url(small.jpg);
    background-size: cover;
    position: absolute;
    top: 325px;
    left: 355px;
    z-index: 4;
}


#whitecircle2 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 315px;
    left: 350px;
    z-index: 3;
}

/*Tanmay's Code*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(34, 68, 68, 0.5),rgba(82, 33, 33, 0.6)), url(Untitled\ design.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 20px;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(0, 0, 0);
    position: relative;
}

.form-box{
    background-color: rgba(255, 255, 255, 0.9);
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: black;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height .5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px ;
}

.input-field span{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: center;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: rgb(29, 62, 225);
}
.form-box p{
    text-align: left;
    font-size: 13px;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background: #000000;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;

}

.input-group{
    height: 280px;
}

.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}
